<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  
        
  
  </head>
  <body>
    
             
    <div id="app">
      <!--<h2 class="app-title">Left Behind</h2>-->
      <nav class="main-nav">
        <div v-if="logged_in" class="profile">
          <p>{{user.name}}</p>
        </div>
        <img class="site-logo" src="/img/Logo-Wildnotes.png" alt="WildNotes Logo">
        <div class="spacer"></div>
      </nav>
      <div v-bind:class="{ open: menu_open }"  class="menu-settings">
        <a href="#!">Settings</a>
        <a href="#!">Note Collections</a>
        <a href="#!">Collection</a>
      </div>
      <div v-if="logged_in" class="menu"><p v-on:click="menu_open = !menu_open" v-bind:class="{ open: menu_open }" class="menu-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
      <div id="map" class="marker-map"></div>
      <div class='footer' v-bind:class="{ slide_footer: logged_in }">
        <div v-if="footer_mode === 'pick'" >
          <button class="submitbutton" v-on:click="footer_mode = 'signup'">Signup</button>
          <button class="submitbutton" v-on:click="footer_mode = 'login'">Login</button>
        </div>
        <div v-if="footer_mode === 'signup'" class="sign-up">
            <a v-on:click="footer_mode = 'pick'"><i class="fa fa-times" aria-hidden="true"></i></a>
            <div>
              <p>Sign up</p>
            </div>
            <input v-model="signup.name" type="text" placeholder="username">
            <input v-model="signup.pw" type="password" name="password" placeholder="password">
            <button class="submitbutton" v-on:click="this.newUser">Signup</button>
        </div>
        <div v-if="footer_mode === 'login'" class="sign-up">
            <a v-on:click="footer_mode = 'pick'"><i class="fa fa-times" aria-hidden="true"></i></a>
          <div>
            <p>Login</p>
          </div>
          <input v-model="login.name"  type="text" placeholder="username">
          <input v-model="login.pw"  type="password" name="password">
          <button class="submitbutton" v-on:click="login">Login</button>
        </div>
      </div>
    </div>
    
        
    
    <script>
    //Add markers to the map
    var markers = {
      0:{
        "marker_id": 0,
        "content_type": "url",
        "artist_name": "The Millenium",
        "lat": 43.0578701,
        "lng": -88.0374691, //location on map
        "marker_content": {
            "content_title": "New Song!", //Message from poster
            "content_url": "http://themilleniumwi.bandcamp.com/album/interstates-single", // mp3, image
        }
      },
      1:{
        "marker_id": 1,
        "content_type": "url",
        "artist_name": "Katy Perry",
        "lat": 43.0253845,
        "lng": -87.9134023, //location on map
        "marker_content": {
            "content_title": "Newer Song!", //Message from poster
            "content_url": "http://themilleniumwi.bandcamp.com/album/interstates-single", // mp3, image
        }
      }
    };
    
    
    
    var map;
    function initMap() {
      draggingMap = true;
      bounds = new google.maps.LatLngBounds(); 
      var map_pos = {lat: 43.0578701, lng: -88.0374691};  
      var mapOptions = {
          mapTypeId: 'roadmap',
          draggable: true,  
          scrollwheel: false,
          center: map_pos,
          zoom: 14,
      };
      
      var pos;
      if (navigator.geolocation) {
      
        navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          console.log(pos);
          var curMarker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'YOU ARE HERE'
          });
          map.setCenter(pos);
        });
      }
      // 
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      //add markers to map
  		addMarkers();
      
    }
    
    var mapMarkers = [];
    function addMarkers() {
    	var bounds = new google.maps.LatLngBounds(); 
    	console.log({
    		"addMarkers()":"running",
    		"markers":markers,
    	});
    	for(var i in markers){
    	  console.log({
    	    "markers[i]":markers[i],
    	  });
  			var position = new google.maps.LatLng(markers[i]["lat"], markers[i]["lng"]);
  					
        mapMarkers[markers[i]['marker_id']] = new google.maps.Marker({
          loc_id: markers[i]['marker_id'],
            position: position,
            map: map,
            title: markers[i]['marker_content']['content_title'],
            //icon: image,
            //zIndex: parseInt(markers[i][0])
    		}); 
  
  
  			bounds.extend({lat:markers[i]["lat"], lng:markers[i]["lng"]});
  			
  			//CLICK MARKER
  			google.maps.event.addListener(mapMarkers[markers[i]["marker_id"]], 'click', function() {
  			
  				mapMarkers[this.loc_id].setZIndex(100);
  				
  			});
  			console.log({
  			  mapMarkers: mapMarkers,
			});
    
    			//TODO: add draggable search functionality
    			
    	}// end for(var i in markers) 
    	// Automatically center the map fitting all markers on the screen
    	map.fitBounds(bounds);
    } // end addMarkers()
    			
    </script>
    
    
    <script src="https://unpkg.com/vue"></script>
    <script src="js/main-bundle.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUbQR-1QHO9JnFq4oF5XnYEb7eiogC_Rc&callback=initMap">
    </script>
  </body>
</html>